* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

body {
  background-color: #ffffff; /* Color de fondo más claro */
  color: #333333;
}

.container {
  width: 100%;
  margin: auto;
  padding: 20px;
}

.card {
  background: #f9f9f9; /* Fondo para las tarjetas */
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
